.brandText{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 30px;
}
.brand {
    margin-left: 3%;
    width: 15%;
    float: left;
    padding-top: 1%;
}
.shopPage {
    background-image: url("iff-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.contactPage {
    background-image: none;
    background-color: white;
}
.season  {
    color: white;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
    visibility: visible;
    display: inline-block;
    vertical-align: middle;
}
.seasonText {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 100px;
}
.navbar {
    padding: 0;
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    padding-top: 1.5%;
}
.navText {
    font-family: 'Source Sans Pro', sans-serif;
    color: dimgray;
    font-size: 15px;
}
.navButton {
    padding-left: 1%;
    padding-right: 1%;
}
.homePage {
    background-image: url("background.jpg");
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: 3s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;	
}
.contactHeader {
    padding-top: 5%;
    padding-left: 10%;
}
.contactText {
    font-family: 'Source Sans Pro', sans-serif;
    color: dimgray;
    font-size: 40px;
}
.contactContent {
    
}
.footer {
    background-color: white;
    margin-top: 72.5vh;
}
.footerText {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 10px;
    color: dimgray;
}
.myButton {
	-moz-box-shadow:inset 0px -3px 7px 0px #000000;
	-webkit-box-shadow:inset 0px -3px 7px 0px #000000;
	box-shadow:inset 0px -3px 7px 0px #000000;
	background-color:#000000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}
::-webkit-input-placeholder {
   
    text-align: center;
}
:-moz-placeholder {
    /* Firefox 18- */
   
    text-align: center;
}
::-moz-placeholder {
    /* Firefox 19+ */

    text-align: center;
}
:-ms-input-placeholder {
  
    text-align: center;
}

.loginButton {
	-moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	-webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
	background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
	background-color:#dbe6c4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}
.loginButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
	background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
	background-color:#9ba892;
}
.loginButton:active {
	position:relative;
	top:1px;
}
textarea {
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
}
